name: Deploy Bot
on:
  push:
    branches: [ master ]
jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setting up the environment
      run: npm install && npm run build
    - name: Deploying version
      uses: danitseitlin/npm-package-deployer@master
      with:
        pkg_name: rl-cloud-api-sdk
        npm_access_token: ${{secrets.NPM_AUTH_TOKEN}}
